language: node_js

node_js:
  - "node"
  - "10"

git:
  submodules: false

before_script:
  - npm install

script:
  - npm run ci

after_success:
  - npm run report-coveralls
  - npm run report-codecov
