@import url('https://rsms.me/inter/inter-ui.css');

html {
  font-size: 100%;
  font-family: 'Inter UI', sans-serif;
}

.App {
  width: 62em;
  margin: 0 auto;
  padding: 2em 6em 8em;
  background-color: silver;
}

h1 {
  font-size: 4em;
  font-weight: 100;
}

h2 {
  font-size: 2em;
  font-weight: 100;
}

p {
  font-size: 1em;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 1em;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
}

li a:hover {
  text-decoration: underline;
}

h2 {
  text-transform: uppercase;
}

.profileImg {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}